<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.startingscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.traffictest.Welcome"> <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>
        <activity android:name="com.example.traffictest.QuizActivity"></activity>
        <activity android:name="com.example.traffictest.fourth_slide" />
        <activity android:name="com.example.traffictest.third_slide" />
        <activity android:name="com.example.traffictest.second_slide" />
        <activity android:name="com.example.traffictest.first_slide" />
        <activity android:name="com.example.traffictest.MainActivity">

        </activity>
    </application>

</manifest>